@font-face {
  font-family: "DIN Pro Black";
  src: url("/assets/fonts/DinPro/DINPro-Black.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro Bold";
  src: url("/assets/fonts/DinPro/DINPro-Bold.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro Extlight";
  src: url("/assets/fonts/DinPro/DINPro-Extlight.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro Light";
  src: url("/assets/fonts/DinPro/DINPro-Light.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro LightItalic";
  src: url("/assets/fonts/DinPro/DINPro-LightItalic.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro Medium";
  src: url("/assets/fonts/DinPro/DINPro-Medium.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro";
  src: url("/assets/fonts/DinPro/DINPro.otf") format("truetype");
}
