.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
}


.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  font-size: 14px;
  color: #3359DB;
  font-weight: 700;
}


.mat-ink-bar {
  color: #3359DB  !important;
  min-width: 25px !important;
  background-color: #3359DB  !important;
}

.mat-tab-header{
  width: 30%;
margin-bottom: 20px;
}
