<div class="top-filter">
  <label>
    From
    <app-date-picker [placeholder]="'Departure Date'"
                     (selectedDateChange)="setDateFilter('departureTime','after', $event)"></app-date-picker>
  </label>

  <label>
    To
    <app-date-picker [placeholder]="'Departure Date'"
                     (selectedDateChange)="setDateFilter('departureTime', 'before', $event)"></app-date-picker>
  </label>

  <label>
    Department
    <app-custom-dropdown [dropdownItems]='departmentsRequest' (handleSelected)="departmentSelected($event)">
    </app-custom-dropdown>
  </label>
  <label>
    Location
    <input type="text" class='input-style' placeholder="Travel Ops">
  </label>
</div>

<div *ngIf="!tripRequests.length">
  <app-empty-page [text]="'No trips yet.'"></app-empty-page>
  <div class="bottom-image"></div>
</div>

<div class="trip-itinerary-table">
  <div *ngIf="tripRequests.length">
    <div class="buttons-wrapper flex ">
      <button class="search-wrapper" aria-label="Search Trips"></button>
      <app-export-view (click)="setFilterParams()" [tableName]="'tripItinerary'" [filterParams]="filterParams"
                       class="flex-right">
      </app-export-view>
    </div>

    <div class="routes-table-container">
    <div id="contentToExport" class="custom-table">
      <mat-grid-list cols="9" rowHeight="2:1" class="trip-table-head table-header-hover">
        <mat-grid-tile tabindex="0"> <p class="cell-align"> Requested On </p></mat-grid-tile>
        <mat-grid-tile tabindex="0"> <p class="cell-align"> Departing On </p></mat-grid-tile>
        <mat-grid-tile tabindex="0"> <p class="cell-align"> Pickup </p></mat-grid-tile>
        <mat-grid-tile tabindex="0"> <p class="cell-align"> Destination </p></mat-grid-tile>
        <mat-grid-tile tabindex="0"> <p class="cell-align"> Requested-By </p></mat-grid-tile>
        <mat-grid-tile tabindex="0"> <p class="cell-align"> Department </p></mat-grid-tile>
        <mat-grid-tile tabindex="0"> <p class="cell-align"> Rider </p></mat-grid-tile>
        <mat-grid-tile tabindex="0">
          <p class="trip-itinerary-approved cell-align"> Approved/ Confirmed </p>
        </mat-grid-tile>
        <mat-grid-tile tabindex="0"> <p class="cell-align">Rating </p></mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list *ngFor='let trip of tripRequests' cols="9" rowHeight="2:1" class="trip-table-body table-row-item">
          <mat-grid-tile tabindex="0">
            <div class="time cell-align">
              <span>{{ trip.requestedOn | date:'shortTime' }}</span>
              <span>
              <span>{{ trip.requestedOn | date:'dd-MM-yy' }}</span>
            </span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile tabindex="0">
            <div class="time cell-align">
              <span>{{ trip.departureTime | date:'shortTime' }}</span>
              <span>
              <span>{{ trip.departureTime | date:'dd-MM-yy' }}</span>
            </span>
            </div>
          </mat-grid-tile>
        <mat-grid-tile tabindex="0"><p class="cell-align">{{trip.pickup}}</p></mat-grid-tile>
        <mat-grid-tile tabindex="0"><p class="cell-align">{{trip.destination}}</p></mat-grid-tile>
        <mat-grid-tile tabindex="0"><p class="cell-align">{{trip.requester.name | shortenName: { max: 10 } }}</p></mat-grid-tile>
        <mat-grid-tile tabindex="0"><p class="cell-align">{{trip.department}}</p></mat-grid-tile>
          <mat-grid-tile tabindex="0"><p class="cell-align">{{trip.rider.name | shortenName: { max: 10 } }}</p></mat-grid-tile>
        <mat-grid-tile tabindex="0">
          {{trip.approvedBy.name | shortenName: { max: 10 } }}
          &nbsp;/&nbsp;
          {{trip.confirmedBy.name | shortenName: { max: 10 } }}</mat-grid-tile>
        <mat-grid-tile tabindex="0">
          <span class="stars-container stars-{{trip.rating *20}}">★★★★★</span>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    </div>
    <div class="pagination">
      <app-pagination *ngIf='totalItems > pageSize' [totalItems]="totalItems" (pageChange)="updatePage($event)"
                      [pageSize]="pageSize">
      </app-pagination>
    </div>

  </div>

</div>
