

  <div class="top-filter">
    <label>
      From
      <app-date-picker></app-date-picker>
    </label>

    <label>
      To
      <app-date-picker></app-date-picker>
    </label>

    <label>
      Department
      <app-custom-dropdown [dropdownItems] = 'departmentsRequest'  (handleSelected)="departmentSelected($event)"></app-custom-dropdown>
    </label>
    <label>
      Location
      <input type="text" class='input-style' placeholder="Travel Ops">
    </label>
  </div>

  <div *ngIf="!tripRequests.length">
    <app-empty-page [text]="'No trips yet.'"></app-empty-page>
    <div class="bottom-image"></div>
  </div>

  <div *ngIf="tripRequests.length">

  <div class="buttons-wrapper flex ">
    <button class="search-wrapper"></button>
    <button class="upload-wrapper flex-right"></button>
  </div>

  <mat-grid-list cols="8" rowHeight="2:1" class="trip-table-head">
    <mat-grid-tile>Requested On</mat-grid-tile>
    <mat-grid-tile>Departing On</mat-grid-tile>
    <mat-grid-tile>Pickup</mat-grid-tile>
    <mat-grid-tile>Destination</mat-grid-tile>
    <mat-grid-tile>Requested-By</mat-grid-tile>
    <mat-grid-tile>Department</mat-grid-tile>
    <mat-grid-tile>Rider</mat-grid-tile>
    <mat-grid-tile>Approved/Confirmed</mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list *ngFor='let trip of tripRequests' cols="8" rowHeight="2:1" class="trip-table-body">
    <mat-grid-tile tabindex="1">
      <div class="time">
        <span>{{ trip.requestedOn | date:'dd-MM-yy' }}</span>
        <span>
              <span>&nbsp;by&nbsp;</span>
              <span>{{ trip.requestedOn | date:'shortTime' }}</span>
            </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile tabindex="1">
      <div class="time">
        <span>{{ trip.departureTime | date:'dd-MM-yy' }}</span>
        <span>
              <span>&nbsp;by&nbsp;</span>
              <span>{{ trip.departureTime | date:'shortTime' }}</span>
            </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile tabindex="1">{{trip.pickup}}</mat-grid-tile>
    <mat-grid-tile tabindex="1">{{trip.destination}}</mat-grid-tile>
    <mat-grid-tile tabindex="1">{{trip.requester.name}}</mat-grid-tile>
    <mat-grid-tile tabindex="">{{trip.department}}</mat-grid-tile>
    <mat-grid-tile tabindex="1">{{trip.rider.name}}</mat-grid-tile>
    <mat-grid-tile tabindex="1">{{trip.approvedBy.name || 'null'}} / {{trip.confirmedBy.name || 'null'}}</mat-grid-tile>
  </mat-grid-list>

  <div class="pagination">
    <app-pagination
      [totalItems]="totalItems" (pageChange)="updatePage($event)" [pageSize]="pageSize">
    </app-pagination>
  </div>

</div>
