
.trip-table-head {
  font-size: 14px;
  color: #808FA3;
  text-align: center;
}

.time {
  padding: 5px;
  span:nth-child(2) {
    color: #808FA3;
  }
}
.trip-table-body  {
  mat-grid-tile >*{
    font-size: 14px !important;
    text-align: center;
  }
  text-align: center;
}
.top-filter{
  display: grid;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
  grid-template-columns: repeat(4, 250px);
}
.input-style {
  margin-top: 10px;
  background-color: #FFFFFF;
  height: 38px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #e9eff4;
  font-size: 14px;
}


