<div class="modal-header">
  <button class="close-button button-hover" (click)="closeDialog()">
    &#x2715;
  </button>
</div>
<div class=form-container>
  <form *ngIf="data.status === 0" #confirmForm="ngForm" (ngSubmit)="confirm(confirmForm.value)" novalidate>
    <h1 class="heading-one">Confirm {{data.requesterFirstName | titlecase}}'s Trip</h1>
    <p class="message">Driver Name</p>
    <input required (ngModel)="driverName" class="form-input" type="text" name="driverName"><br>
    <p class="message">Driver Contact</p>
    <input required (ngModel)="driverPhoneNo" class="form-input" type="text" name="driverPhoneNo">
    <p class="message">Cab Registration Number</p>
    <input required (ngModel)="regNumber" class="plate-input" type="text" name="regNumber">
    <p class="message">Confirmation Reason</p>
    <textarea required (ngModel)="comment" name="comment" class="decline-comment"></textarea>
    <button type="submit" [disabled]="confirmForm.invalid || loading" class="submit-btn button-hover">
      <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>
      SUBMIT
    </button>
  </form>
</div>
