.rider__image img {
  box-sizing: border-box;
  height: 72.8px;
  width: 72.8px;
  border: 1.4px solid #FFFFFF;
  border-radius: 3rem;
}

.rider__route p {
  height: 19px;
  width: 77px;
  color: #808FA3;
  font-family: "DIN Pro";
  font-size: 11px;
  line-height: 14px;
  text-align: center;
}

.rider__name p {
  height: 47px;
  width: 77px;
  color: #39434D;
  font-family: "DIN Pro";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
