<div>
    <div class="trip-header">
      <div class="trip-title">
        <h3 class="routes-title">TRIPS OVERVIEW</h3>
      </div>
      <div fxLayoutGap="13.5px" fxLayout.lt-sm="column wrap" class="date-picker">
          <app-date-picker
            (selectedDateChange)="setDateFilter('startDate', 'from', $event)" [maxDate]="maxDate"></app-date-picker>

          <app-date-picker
            (selectedDateChange)="setDateFilter('endDate', 'to', $event)" [minDate]="minDate" [maxDate]="maxDate"></app-date-picker>
      </div>
    </div>
    <div fxLayout="column">
      <div class="dashboard-top-container">
        <div class="left-pane">
          <div class="trip-analytics">
            <app-average-trip-ratings [avgRatings]="averageRatings"></app-average-trip-ratings>
            <app-total-cost-view [totalCost]="totalCost"></app-total-cost-view>
          </div>
        </div>
        <div class="right-pane"></div>
      </div>
      <div class="background">
        <div fxLayout="column wrap" fxLayoutGap="5px" fxLayoutAlign="start start" class="card-position">
          <div>
            <h3 class="routes-title">ROUTES OVERVIEW</h3>
          </div>
          <div class="most-ratings-usage" >
            <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center" >
              <app-routes-overview usage="Most" [data]="mostUsedRoute" ></app-routes-overview>
              <app-route-ratings-overview class="card-position" [title]="'Most Rated Routes'" [ratings]="mostRatedRoutes" >
              </app-route-ratings-overview>
              <app-rider-list title="Most Frequent Riders" [riders$]="riders$" ></app-rider-list>
            </div>
          </div>

          <div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
              <app-routes-overview usage="Least" [data]="leastUsedRoute"></app-routes-overview>
              <app-route-ratings-overview class="card-position" [title]="'Least Rated Routes'" [ratings]="leastRatedRoutes" >
              </app-route-ratings-overview>
              <app-rider-list [riders$]="riders$" title="Least Frequent Riders"></app-rider-list>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
