<mat-toolbar class="app-toolbar">
  <mat-toolbar-row>
    <button
      (click)="toggleSideNav()"
      id="menuToggle"
      mat-icon-button
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div *ngIf="!headerTitle" class="tool-bar-items">
      <span class="header-title"> Welcome {{ user.firstName }}</span>
      <!-- visible on xs-devices -->
      <img class="upic" fxHide.gt-xs [src]="user.picture" alt="profile picture" />
    </div>

    <div class="tool-bar-items">
      <span
        *ngIf="headerTitle === 'Welcome'; else showTitleOnly"
        class="header-title"
      >
        {{ headerTitle }} {{ user.firstName }}
      </span>
      <ng-template #showTitleOnly>
        <span *ngIf="!isCurrentRouteForRouteRequests" class="header-title">
          {{ headerTitle }}
        </span>
        <span
          *ngIf="isCurrentRouteForRouteRequests"
          class="header-title"
          [matBadge]="'+ ' + routes.length"
          [matBadgeHidden]="routes.length == 0"
          matBadgeColor="primary"
          matBadgeSize="medium">
          {{ headerTitle }}
        </span>
      </ng-template>
      <!-- visible on xs-devices -->
      <img class="upic" fxHide.gt-xs [src]="user.picture" alt="profile picture" />
    </div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <div class="tool-bar-button">
        <button [matMenuTriggerFor]="dropDown" class="action-button">
          <img class="upic" [src]="user.picture" alt="profile picture" />
          <span class="too-bar-username">{{ user.firstName }} {{ user.lastName }}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <mat-menu #dropDown="matMenu" class="toolbar-dropdown">
          <button class="action-button logout" (click)="logout()">
            Logout
            <div class="right-arrow-icon-wrapper">
              <div class="right-red-pointer button-icon-size"></div>
            </div>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
