.mat-card {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
}

.travel-trips .title {
  height: 21px;
  color: #333E44;
  font-family: "DIN Pro";
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  padding: 10px 0;
}
