/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/normalize';

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

body { margin: 0; font-family: 'Roboto', sans-serif; }

* {
  font-family: "DIN Pro", sans-serif;
}

.andela-blue-color{
  color: #3359DB !important;
}
.andela-yellow-color{
  color: #FFAF30 !important;
}
.andela-gray-color{
  color: #808FA3 !important;
}
.andela-dark-gray-color{
  color: #4F4F4F !important;
}

.andela-blue-background{
  background-color: #3359DB !important;
}
.andela-yellow-background{
  background-color: #FFAF30 !important;
}
.andela-gray-background{
  background-color: #808FA3 !important;
}
.andela-dark-gray-background{
  background-color: #4F4F4F !important;
}

.toolbar-dropdown {
  margin-top: .8em;
  box-shadow: 0 3px 7px 0 rgba(128, 143, 163, 0.11);
}

.toolbar-dropdown .mat-menu-content:not(:empty) {
  padding: 0 !important;
}
