<div class="modal-header">
    <button class="close-button button-hover" (click)="closeDialog()">
      &#x2715;
    </button>
  </div>
  <div class=form-container>
    <form #declineForm="ngForm" (ngSubmit)="decline(declineForm.value)" *ngIf="data.status === 1" novalidate>
      <h1>Decline {{data.requesterFirstName | titlecase}}'s Route Request</h1>
      <p class="message">Hi {{account.firstName | titlecase}}, why are you declining?</p>
      <textarea required (ngModel)="comment" name="comment" class="decline-comment"></textarea>
      <button type="submit" [disabled]="declineForm.invalid || loading" class="submit-btn button-hover">
        <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>
        SUBMIT
      </button>
    </form>
    <form *ngIf="data.status === 0" #approveForm="ngForm" (ngSubmit)="approve(approveForm.value)" novalidate>
        <h1>Approve {{data.requesterFirstName | titlecase}}'s Route Request</h1>
        <p class="message">Route Name</p>
        <input required (ngModel)="routeName" class="form-input"  type="text" name="routeName"><br>
        <div class="input-row">
          <div class="input-row-content">
            <span class="message-row">Route Capacity</span>
            <input required (ngModel)="capacity" class="number-input" name="capacity" type="number" min="1" max="100">
          </div>
          <div class="input-row-content">
            <span class="message-row">Take Off Time</span>
            <input required (ngModel)="takeOff" class="time-input" type="time" name="takeOff">
          </div>
        </div>
        <p class="message">Cab Registration Number</p>
        <input required [(ngModel)]="cabRegNumber" class="plate-input" type="text" name="cabRegNumber" aria-label="Number" matInput [matAutocomplete]="auto">
        <app-return-existing-cabs optionValue="regNumber"  [approveForm]="approveForm" (emitAutoComplete)="setAuto($event)"></app-return-existing-cabs>
        <p class="message">comment</p>
        <textarea required (ngModel)="comment" name="comment" class="decline-comment"></textarea>
        <button type="submit" [disabled]="approveForm.invalid || loading" class="submit-btn button-hover">
          <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>
          SUBMIT
        </button>
    </form>
  </div>
