
.notification-text {
  padding-left: 2em;
  height: 18px;
  color: #4F4F4F;
  font-family: "DIN Pro", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.app-routes-container {
  z-index: 1;
  position: relative;
  @media screen and (max-width: 960px){
    & {
      align-items: center !important;
    }
  }
  .routes-grid {
    padding-right: 2em;
    .route-box {
      width: 177px;
      height: 149px;
      margin: 2em;
      border: 1px solid #E0E8EA;
      border-radius: 13px;
      background-color: rgba(224,232,234,0.18);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      &:hover {
        cursor: pointer;
      }
      &.active {
        border: 1px solid #3359DB;
        .transparent-background {
          background-color: rgba(51, 89, 219, 0.72);
        }
        .route-distance, .route-name {
          color: #FFFFFF;
        }
      }
      @media screen and (max-width: 960px){
        & {
          width: 100%;
        }
      }
      @media screen and (max-width: 1280px){
        & {
          width: 150px;
          margin: 1em;
        }
      }
    }
    .transparent-background {
      height: 100%;
      width: 100%;
      border-radius: 13px;
      background-color: rgba(224, 232, 234, 0.48);
    }
    .route-name {
      height: 31px;
      width: 95%;
      color: #39434D;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-family: "DIN Pro", sans-serif;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: -1.1px;
      line-height: 31px;
      text-align: center;
    }
    .route-distance {
      height: 26px;
      width: 95%;
      color: #39434D;
      font-family: "DIN Pro", sans-serif;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
    }
  }

  @media screen and (max-width: 960px){
    .left-column {
      width: 100%;
      height: 100%;
    }
  }

  mat-card.details-card {
    width: 100%;
    height: 600px;
    max-height: 600px;
    max-width: 100%;
    margin-right: 32px;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #F1F3F5;
    box-shadow: 0 7px 44px 0 rgba(0,0,0,0.04);
    border-radius: 6px;
    background-color: #ffffff;
    opacity: 1;
    @media screen and (max-width: 960px){
      & {
        width: 100%;
      }
    }
    .mat-card-content {
      flex-grow: 1;
      overflow: auto;
      max-width: 100%;
      max-height: 100%;
      align-items: center;
      .map-image {
        width: 100%;
        height: 100%;
        margin: auto;
      }
      ::ng-deep mat-tab-group {
        height: 420px;
      }
      ::ng-deep .mat-tab-body-wrapper {
        margin: 18px 0;
        height: 100%;
      }
      ::ng-deep .mat-tab-label {
        height: 28px;
        min-width: 48px;
        color: #808FA3;
        font-family: "DIN Pro", sans-serif;
        font-size: 16px;
        line-height: 21px;
      }
      ::ng-deep .mat-tab-label-active {
        color: #3359DB;
        font-weight: 500;
      }
      ::ng-deep .mat-tab-label {
        opacity: 1;
      }
      ::ng-deep .mat-ink-bar {
        box-sizing: border-box;
        height: 1px;
        width: 78px;
        border: 1px solid #3359DB;
      }
    }
    .mat-card-footer {
      box-sizing: border-box;
      height: 166px;
      border: 1px solid #F1F3F5;
      background-color: #FFFFFF;
      box-shadow: 0 7px 44px 0 rgba(0,0,0,0.04);
      .footer-text {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 1.5em auto auto;
        bottom: 111.5px;
        .mat-card-avatar {
          margin-right: 20px;
          margin-left: 4%;
        }
        span{
          height: auto;
          width: 100%;
          color: #4F4F4F;
          font-family: "DIN Pro", serif;
          font-size: 16px;
          line-height: 21px;
          align-self: center;
        }
      }
      .mat-card-action-buttons {
        border-radius: 5px;
        margin-left: 0;
        margin-right: 0;
        bottom: 29.5px;
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        button {
          border: 0;
          height: 40px;
          width: 45%;
          border-radius: 5px;
          &:hover {
            cursor: pointer;
          }
        }
        .reject-button {
          background-color: #FFE5E6;
          .reject {
            height: 20px;
            width: 128px;
            color: #FF5359;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.8px;
            line-height: 21px;
            text-align: center;
          }
        }
        .accept-button {
          background-color: #E1E6FA;
          .accept {
            height: 20px;
            width: 128px;
            color: #3359DB;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.8px;
            line-height: 21px;
            text-align: center;
          }
        }
      }
    }
  }
}

.bottom-image {
  background-image: url("/assets/images/san-francisco.png");
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  background-size: 600px 250px;
  background-repeat: repeat-x;
  position: fixed;
}
